[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/circuit-url-handler.sh %u
Name=PHONE-CIRCUIT
Comment=PHONE-CIRCUIT handler
Icon=
Categories=Application;Network;
MimeType=x-scheme-handler/circuit;
